<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Launcher.My.MySettings>
            <setting name="resolucion" serializeAs="String">
                <value>1024x768</value>
            </setting>
            <setting name="pantalla" serializeAs="String">
                <value>1024x768</value>
            </setting>
            <setting name="video" serializeAs="String">
                <value>DirectDraw</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value />
            </setting>
            <setting name="API" serializeAs="String">
                <value />
            </setting>
            <setting name="RenderMode" serializeAs="String">
                <value />
            </setting>
            <setting name="VSync" serializeAs="String">
                <value />
            </setting>
        </Launcher.My.MySettings>
    </userSettings>
</configuration>
